
@{
    Layout = "_BaseTailwind";
    ViewData["Title"] = "Gestión de Expedientes";
}

<h1 class="font-semibold text-lg p-4 flex items-center  justify-between">
    <a href="" class="font-medium text-blue-600 text-sm"><i class="fa-duotone fa-regular fa-arrow-left"></i> Regresar</a>
    Editar  - @ViewBag.IdEstudiante
</h1>
